<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link inline rel="stylesheet" media="all" href="style/init.css">
  </head>
  <body class="">

    <svg style="display:none">
      <def>
        <symbol viewBox="0 0 66.5 13.5" id="element"></symbol>
      </def>
    </svg>

    <div class="w--main">
        <div class="el bg_svg">
          <svg>
              <use xlink:href="#element">
          </svg>
        </div>
    </div>

    <a class="w--cadre" href="javascript:void(0)" onclick="window.open('%%CLICK_URL_ESC%%%%DEST_URL%%');return false;"></a>

    <script type="text/javascript" inline src="js/plugin/mediaquery.class.js"></script>
    <script type="text/javascript" inline src="js/plugin/timeline.class.js"></script>
    <script type="text/javascript" inline src="js/main.js"></script>

  </body>
</html>
