RewriteRule ^([_a-z0-9_\-\/]*)\.json$ _api/api.php?query=$1&display=$2 [QSA,NC,L]
#--------------------------------------------------
# SYSTEM
#--------------------------------------------------
# AddType image/x-icon favicon.ico
php_value date.timezone "Europe/Paris"
php_value output_handler ob_gzhandler


#--------------------------------------------------
# REWRITE
#--------------------------------------------------
# Options +FollowSymlinks
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^([_a-z0-9_\-\/]*)\.json$ _api/api.php?query=$1&display=$2 [QSA,NC,L]

</IfModule>
