#--------------------------------------------------
# SYSTEM
#--------------------------------------------------
# AddType image/x-icon favicon.ico
# php_value date.timezone "Europe/Paris"
# php_value output_handler ob_gzhandler


#--------------------------------------------------
# REWRITE
#--------------------------------------------------
# Options +FollowSymlinks
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^([a-z]{2})\/([_a-z0-9_\-\/]*)\.(json|xml|csv)$ _api/api.php?lang=$1&query=$2&display=$3 [QSA,NC,L]
	RewriteRule ^([_a-z0-9_\-\/]*)\.(json|xml|csv)$ _api/api.php?query=$1&display=$2 [QSA,NC,L]

	RewriteRule ^([a-z]{2})\/([_a-z0-9_\-\/]*)\.(html)$ index.php?lang=$1&query=$2&display=$3 [QSA,NC,L]
	RewriteRule ^([a-z]{2})\/([_a-z0-9_\-\/]*)$ index.php?lang=$1&query=$2 [QSA,NC,L]
	RewriteRule ^([_a-z0-9_\-\/]*)\.(html)$ index.php?query=$1&display=$2 [QSA,NC,L]

	RewriteRule ^([_a-z0-9_\-\/]*)\.md$ _TODO.php?file=$1 [QSA,NC,L]

	RewriteRule ^([_a-z0-9_\-\/]*)$ index.php?query=$1 [QSA,NC,L]

</IfModule>

<IfModule mod_headers.c>

	<FilesMatch "fichier.html\?=(.*)">
	Header set Cache-Control "max-age=2592000, public"
	</FilesMatch>

</IfModule>
